{% extends 'base.html' %}

{% block title %}User Change{% endblock %}

{% block direction_content %}
    <a>/Account</a>
    <u>/Change</u>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-xs-12 col-sm-12 col-md-8 col-lg-6" method="post">
            {% csrf_token %}
                <div class="card shadow">
                    <div class="card-body">
                        <p>
                            {{ account_change_form.first_name.label }}
                            {{ account_change_form.first_name }}
                        </p>
                        <p>
                            {{ account_change_form.last_name.label }}
                            {{ account_change_form.last_name }}
                        </p>
                        <p>
                            {{ account_change_form.email.label }}
                            {{ account_change_form.email }}
                        </p>
                        <p>
                            {{ account_change_form.gender.label }}
                            {{ account_change_form.gender }}
                        </p>
                        <p>
                            {{ account_change_form.phone_number.label }}
                            {{ account_change_form.phone_number }}
                            {{ account_change_form.phone_number.errors }}
                        </p>
                        <p>
                            {{ account_change_form.birthday.label }}
                            {{ account_change_form.birthday }}
                            <i style="color: red">{{ account_change_form.birthday.help_text }}</i>
                            {{ account_change_form.birthday.errors }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href='{% url 'user_change' %}'">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
