{% extends 'base.html' %}
{% load static %}

{% block title %}Booking{% endblock %}

{% block direction_content %}
    <a href="{% url 'hotels' %}">/Hotels</a>
    <a href="{% url 'hotel_detail' hotel.slug %}">/{{ hotel.name }}</a>
    <a href="{% url 'room_detail' hotel.slug room.pk %}">/{{ room.name }}</a>
    <u>/booking</u>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3>Booking</h3>
                <div class="room-photo">
                    {% if room.photo %}
                        <img class="card-img-top mt-2 mb-2" src="{{ room.photo.url }}" alt="{{ room.name }}" >
                    {% else %}
                        <img src="{% static 'image/file_not_found.png' %}" alt="{{ room.name }}">
                    {% endif %}
                </div>
                <div class="room-info">
                    <p>
                        <strong>Room</strong>: {{ hotel.name }} - {{ room.name }}<br>
                        <strong>Single Bed</strong>: {{ room.single_bed }}<br>
                        <strong>Double Bed</strong>: {{ room.double_bed }}
                    </p>
                    <table class="table-responsive-sm">
                        <thead class="text-center table-dark">
                            <tr>
                                <td style="width: 20%">Washing fee</td>
                                <td style="width: 20%">Usage fee</td>
                                <td style="width: 20%">Utility bill</td>
                            </tr>
                        </thead>
                        <tbody class="text-center table-light">
                            <tr>
                                <td>{{ room.dormitory.washing_fee }}</td>
                                <td>{{ room.dormitory.usage_fee }}</td>
                                <td>{{ room.dormitory.utility_bill }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <h3>Application Form</h3>
                    <p class="border-bottom pb-1">
                        <strong>Unit of Applicant</strong>
                        {{ booking_form.unit_of_applicant }}
                    </p>
                    <p class="border-bottom pb-1">
                        <strong>Use</strong>
                        {{ booking_form.use }}
                    </p>
                    <p class="border-bottom pb-1">
                        <strong>Check in Time</strong><br>
                        {{ booking_form.check_in_time }}
                    </p>
                    <p class="border-bottom pb-1">
                        <strong>Days</strong>
                        {{ booking_form.days }}
                    </p>

                    <div class="table-responsive-sm" style="font-size: 0.5em">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-light" onclick="history.go(-1);">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        .room-photo img{
            width: 70%;
            height: auto;
        }
        .table input{
            padding: 2px 4px;
            border: 1px darkgray solid;
            -webkit-border-radius: 1px;
            border-radius: 4px;
        }
    </style>

    <script type="text/javascript">
        setTimeout(function(){
            $('.prompt').hide()
        }, 5000)
    </script>
{% endblock %}