{% extends 'base.html' %}
{% load static %}
{% load booking_filters %}

{% block title %}My Bookings{% endblock %}

{% block content %}
    <div class="container">
            <ul class="nav nav-tabs" id="dashboardTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="future-tab" data-toggle="tab" href="#future" role="tab" aria-controls="future" aria-selected="true">Future</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="true">past</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="canceled-tab" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled" aria-selected="true">Canceled</a>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% for booking in all_bookings %}
                                <div class="col-sm-4">
                                    <div class="card mt-4 shadow" style="cursor: pointer" onclick="window.location.href='{% url 'booking_detail' booking.pk %}'">
                                        <div class="card-body room-photo">
                                            {% if booking.booked_room.photo %}
                                                <img class="card-img-top mt-2 mb-2" src="{{ booking.booked_room.photo.url }}" alt="{{ booking.booked_room.name }}" >
                                            {% else %}
                                                <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}" width="200" height="200">
                                            {% endif %}
                                        </div>
                                        <div class="card-footer">
                                            <p>
                                                <strong>{{ booking.booked_room.hotel.name }}｜{{ booking.booked_room.name }}</strong><br>
                                                <strong>Check In</strong>: {{ booking.check_in_time|date:'Y/m/d H:i' }}<br>
                                                <strong>Check Out</strong>: {{ booking.check_out_time|date:'Y/m/d H:i' }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="future" role="tabpanel" aria-labelledby="future-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% for booking in future_bookings %}
                                <div class="col-sm-4">
                                    <div class="card mt-4 shadow" style="cursor: pointer" onclick="window.location.href='{% url 'booking_detail' booking.pk %}'">
                                        <div class="card-body room-photo">
                                            {% if booking.booked_room.photo %}
                                                <img class="card-img-top mt-2 mb-2" src="{{ booking.booked_room.photo.url }}" alt="{{ booking.booked_room.name }}" >
                                            {% else %}
                                                <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}" width="200" height="200">
                                            {% endif %}
                                        </div>
                                        <div class="card-footer">
                                            <p>
                                                <strong>{{ booking.booked_room.hotel.name }}｜{{ booking.booked_room.name }}</strong><br>
                                                <strong>Check In</strong>: {{ booking.check_in_time|date:'Y/m/d H:i' }}<br>
                                                <strong>Check Out</strong>: {{ booking.check_out_time|date:'Y/m/d H:i' }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% for booking in past_bookings %}
                                <div class="col-sm-4">
                                    <div class="card mt-4 shadow" style="cursor: pointer" onclick="window.location.href='{% url 'booking_detail' booking.pk %}'">
                                        <div class="card-body room-photo">
                                            {% if booking.booked_room.photo %}
                                                <img class="card-img-top mt-2 mb-2" src="{{ booking.booked_room.photo.url }}" alt="{{ booking.booked_room.name }}" >
                                            {% else %}
                                                <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}" width="200" height="200">
                                            {% endif %}
                                        </div>
                                        <div class="card-footer">
                                            <p>
                                                <strong>{{ booking.booked_room.hotel.name }}｜{{ booking.booked_room.name }}</strong><br>
                                                <strong>Check In</strong>: {{ booking.check_in_time|date:'Y/m/d H:i' }}<br>
                                                <strong>Check Out</strong>: {{ booking.check_out_time|date:'Y/m/d H:i' }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% for booking in canceled_bookings %}
                                <div class="col-sm-4">
                                    <div class="card mt-4 shadow" style="cursor: pointer" onclick="window.location.href='{% url 'booking_detail' booking.pk %}'">
                                        <div class="card-body room-photo">
                                            {% if booking.booked_room.photo %}
                                                <img class="card-img-top mt-2 mb-2" src="{{ booking.booked_room.photo.url }}" alt="{{ booking.booked_room.name }}" >
                                            {% else %}
                                                <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}" width="200" height="200">
                                            {% endif %}
                                        </div>
                                        <div class="card-footer">
                                            <p>
                                                <strong>{{ booking.booked_room.hotel.name }}｜{{ booking.booked_room.name }}</strong><br>
                                                <strong>Check In</strong>: {{ booking.check_in_time|date:'Y/m/d H:i' }}<br>
                                                <strong>Check Out</strong>: {{ booking.check_out_time|date:'Y/m/d H:i' }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <style>
        .room-photo img{
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}