{% extends 'base.html' %}

{% block title %}Branch Update{% endblock %}

{% block direction_content %}
    <a href="{% url 'dashboard' %}">/Dashboard</a>
    <a href="{% url 'service_detail' %}">/Service /Detail</a>
    <u>/Update - {{ branch }}</u>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Update</button>
        <button type="button" class="btn btn-outline-danger">Delete</button>
        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
    </form>
{% endblock %}