{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}

{% block title %}New Hotel{% endblock %}

{% block direction_content %}
    <a href="{% url 'my_hotels' %}">/My Hotels</a>
    <u>/New Hotel</u>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h3>New hotel</h3>
        <p class="lead" style="font-size: 12px">Please complete the following information about your hotel.</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>External Appearance</p>
            <p>{{ form.external_appearance }}</p>
            <p>Name
            {{ form.name }}</p>
            <p>Slug
            {{ form.slug }}</p>
            <p>Address
            {{ form.address }}</p>
            <p>Phone
            {{ form.phone }}</p>
            <p>Website
            {{ form.website }}</p>
            <p>Introduction
            {{ form.introduction }}</p>

            <div class="float-right">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-light">Reset</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}