{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}
{% load room_filters %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block left_side %}
    {% if request.user.is_anonymous %}
    {% else %}
        {% if request.user|is_proprietor and request.user|is_hotel_owner:hotel %}
            <div id="sidebar" class="col-sm-12">
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'room_creation' hotel.slug %}'">New room</button>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div id="sidebar" class="col-sm-12">
        {% for hotel in hotels %}
            <div class="mt-4 text-center">
                <a href="{% url 'hotel_detail' hotel.slug %}" class="btn btn-outline-primary" >{{ hotel }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-12 mt-2">
        <div class="hotel-external-appearance">
            {% if hotel.external_appearance %}
                <img class="card-img-top mt-2 mb-2" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
            {% else %}
                <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}">
            {% endif %}
        </div>
        <h3>{{ hotel.name }}</h3>
        <p class="lead" style="font-size: 1.5em">
            <strong>Rooms</strong>: {{ hotel.room_set.all.count }}<br>
            <strong>Address</strong>: {{ hotel.address }}<br>
            <strong>Phone</strong>: {{ hotel.phone }}<br>
            <strong>Website</strong>: <a href="{{ hotel.website }}">{{ hotel.website }}</a><br>
            <strong>Introduction</strong><br>{{ hotel.introduction }}
        </p>
        <div class="container">
            <div class="row">
                {% for room in rooms %}
                    <div class="col-sm-4">
                        <div class="card" style="cursor: pointer" onclick="window.location.href='{% url 'room_detail' hotel.slug room.pk %}'">
                            <div class="card-body room-photo">
                                {% if room.photo %}
                                    <img class="card-img-top mt-2 mb-2" src="{{ room.photo.url }}" alt="{{ room.name }}" >
                                {% else %}
                                    <img src="{% static 'image/ilustracion-concepto-fallo-conexion/3024051.jpg' %}" width="200" height="200">
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <p>
                                    <strong>{{ room.name }}</strong><br>
                                    Single Bed: {{ room.single_bed }}<br>
                                    Double Bed: {{ room.double_bed }}<br>
                                    Washing: {{ room.dormitory.washing_fee }}<br>
                                    Usage: {{ room.dormitory.usage_fee }}<br>
                                    Utility Bill: {{ room.dormitory.utility_bill }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <style>
        .hotel-external-appearance img{
            width: 50%;
            height: auto;
        }
        .room-photo img{
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}