{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}
{% load room_filters %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block direction_content %}
    <a href="{% url 'hotels' %}">/Hotels</a>
    <u>/{{ hotel.name }}</u>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="hotel-external-appearance">
                    {% if hotel.external_appearance %}
                        <img class="card-img-top" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
                    {% else %}
                        <img class="card-img-top" src="{% static 'image/file_not_found.png' %}" alt="Proprietor not upload photo recently.">
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="border-bottom pb-2">
                    <h1 class="font-weight-light">{{ hotel.name }}</h1>
                </div>
                <div class="font-weight-light">
                    <p class="font-weight-light border-bottom">
                        <h2 class="font-weight-lighter">{{ hotel.address }}</h2>
                        <strong>Phone</strong>: {{ hotel.phone }}<br>
                        <strong>Website</strong>: <a href="{{ hotel.website }}">{{ hotel.website }}</a><br>
                        <strong>Introduction</strong><br>{{ hotel.introduction|safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for room in hotel.room_set.all %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4">
                    <div class="card shadow" style="cursor: pointer" onclick="window.location.href='{% url 'room_detail' hotel.slug room.pk %}'">
                        <div class="card-header">
                            {{ room.name }} - ${{ room.dormitory.get_price }}（per/night）
                        </div>
                        <div class="card-body room-photo">
                            {% if room.photo %}
                                <img class="card-img-top mt-2 mb-2" src="{{ room.photo.url }}" alt="{{ room.name }}" >
                            {% else %}
                                <img src="{% static 'image/file_not_found.png' %}" width="200" height="200">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h3 class="border-bottom pb-2">Other Hotels</h3>
                </div>
            </div>
            {% for hotel in hotels %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="bg-white text-center border mb-4">
                        {% if hotel.external_appearance %}
                            <img class="card-img-top" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
                        {% else %}
                            <img src="{% static 'image/file_not_found.png' %}">
                        {% endif %}
                        <div class="pb-3">
                            <p class="text-black-50 mt-2">{{ hotel.address|region }}</p>
                            <p class="h4 font-weight-light mt-2">{{ hotel.name }}</p>
                            <p class="h4 font-weight-lighter mt-2 text-success">NT${{ hotel|lowest_price }}</p>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'hotel_detail' hotel.slug %}'">More</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .room-photo img{
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}