{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}
{% load room_filters %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block direction_content %}
    <a href="{% url 'hotels' %}">/Hotels</a>
    <u>/{{ hotel.name }}</u>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="hotel-external-appearance">
                    {% if hotel.external_appearance %}
                        <img class="card-img-top mt-2 mb-2" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
                    {% else %}
                        <img class="card-img-top mt-2 mb-2" src="{% static 'image/file_not_found/file_not_found.jpg' %}" alt="Proprietor not upload photo recently.">
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <h3>{{ hotel.name }}</h3>
                <p class="lead">
                    <strong>Rooms</strong>: {{ hotel.room_set.all.count }}<br>
                    <strong>Address</strong>: {{ hotel.address }}<br>
                    <strong>Phone</strong>: {{ hotel.phone }}<br>
                    <strong>Website</strong>: <a href="{{ hotel.website }}">{{ hotel.website }}</a><br>
                    <strong>Introduction</strong><br>{{ hotel.introduction }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for room in rooms %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4">
                    <div class="card shadow" style="cursor: pointer" onclick="window.location.href='{% url 'room_detail' hotel.slug room.pk %}'">
                        <div class="card-header">
                            {{ room.name }} - ${{ room.dormitory.get_price }}（per/night）
                        </div>
                        <div class="card-body room-photo">
                            {% if room.photo %}
                                <img class="card-img-top mt-2 mb-2" src="{{ room.photo.url }}" alt="{{ room.name }}" >
                            {% else %}
                                <img src="{% static 'image/file_not_found/file_not_found.jpg' %}" width="200" height="200">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Other Hotels</h3>
            <div class="table-responsive" id="other-related-hotel-block">
                <table class="table">
                    <tr class="text-center">
                        <td></td>
                        {% for hotel in hotels %}
                            <td class="align-middle"><img src="{{ hotel.external_appearance.url }}"></td>
                        {% endfor %}
                    </tr>
                    <tr class="text-center">
                        <td class="align-middle">Name</td>
                        {% for hotel in hotels %}
                            <td class="align-middle">{{ hotel.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="text-center">
                        <td class="align-middle">Region</td>
                        {% for hotel in hotels %}
                            <td class="align-middle">{{ hotel.address|region }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="text-center">
                        <td class="align-middle">Lowest Price</td>
                        {% for hotel in hotels %}
                            <td class="align-middle">{{ hotel|lowest_price }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="text-center">
                        <td class="align-middle"></td>
                        {% for hotel in hotels %}
                            <td class="align-middle">
                                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'hotel_detail' hotel.slug %}'">View</button>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <style>
        .hotel-external-appearance img{
            width: 100%;
            height: auto;
        }
        .room-photo img{
            width: 100%;
            height: auto;
        }
        #other-related-hotel-block table > tbody > tr > td > img{
            width: 200px;
            height: auto;
        }
    </style>
{% endblock %}