{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}

{% block title %}Hotel Edition{% endblock %}

{% block direction_content %}
    <a href="{% url 'my_hotels' %}">/My Hotels</a>
    <u>/{{ hotel.name }} - Edition</u>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h3>Hotel Edition</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>External Appearance</p>
            <p>{{ form.external_appearance }}</p>
            <p>Name
            {{ form.name }}</p>
            <p>Slug
            {{ form.slug }}</p>
            <p>Address
            {{ form.address }}</p>
            <p>Phone
            {{ form.phone }}</p>
            <p>Website
            {{ form.website }}</p>
            <p>Introduction
            {{ form.introduction }}</p>

            <div class="float-right">
                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-light" onclick="history.go(-1);">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}