{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}
{% load room_filters %}

{% block title %}Hotels{% endblock %}

{% block direction_content %}
    <u>/Hotels</u>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="border-bottom pb-2">Hotels</h1>
                </div>
            </div>
            {% for hotel in hotels %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="bg-white text-center border mb-4">
                        {% if hotel.external_appearance %}
                            <img class="card-img-top" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
                        {% else %}
                            <img src="{% static 'image/file_not_found.png' %}">
                        {% endif %}
                        <div class="pb-3">
                            <p class="text-black-50 mt-2">{{ hotel.address|region }}</p>
                            <p class="h4 font-weight-light mt-2">{{ hotel.name }}</p>
                            <p class="h4 font-weight-lighter mt-2 text-success">NT${{ hotel|lowest_price }}</p>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'hotel_detail' hotel.slug %}'">More</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">

    </div>
{% endblock %}