{% extends 'base.html' %}
{% load static %}
{% load registration_filters %}
{% load room_filters %}

{% block title %}Hotels{% endblock %}

{% block direction_content %}
    <u>/Hotels</u>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hotels</h1>
        <p class="lead">Total: {{ hotels.count }}</p>
        <div class="row">
            {% if hotels %}
                {% for hotel in hotels %}
                    <div class="col-sm-12 mt-4">
                        <div class="card shadow" style="cursor: pointer;" onclick="window.location.href='{% url 'hotel_detail' hotel.slug %}'">
                            <div class="container" id="hotel-concept">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% if hotel.external_appearance %}
                                            <img class="card-img-top mt-2 mb-2" src="{{ hotel.external_appearance.url }}" alt="{{ hotel.name }}" >
                                        {% else %}
                                            <img src="{% static 'image/page_not_found404/page_not_found404.jpg' %}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="mt-2 mb-2">
                                            <p class="h3">{{ hotel.name }}</p>
                                            <p style="font-size: 0.95em">{{ hotel.address }}</p>
                                            <p style="font-size: 0.95em">{{ hotel.introduction|shorten_to:120 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                No hotel recently.
            {% endif %}
        </div>
    </div>
    <style>
        img{
            width: 20%;
            height: auto;
        }
        #hotel-concept div{
            align-items:center;
        }
    </style>
{% endblock %}