{% extends 'base.html' %}
{% load registration_filters %}

{% block title %}My Hotels{% endblock %}

{% block left_side %}
    {% if request.user.is_anonymous %}
    {% else %}
        {% if request.user|is_proprietor %}
            <div id="sidebar" class="col-sm-12">
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'hotel_creation' %}'">New hotel</button>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hotels</h1>
        <p class="lead">Total: {{ my_hotels.count }}</p>
        <div class="row">
            {% if my_hotels %}
                <table class="table-responsive" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th style="width: 20%">Name</th>
                            <th style="width: 30%">Address</th>
                            <th style="width: 10%" class="text-center">Rooms</th>
                            <th style="width: 40%" class="text-center">Features</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hotel in my_hotels %}
                        <tr class="border-top">
                            <td>{{ hotel.name }}</td>
                            <td>{{ hotel.address }}</td>
                            <td class="text-center">{{ hotel.room_set.count }}</td>
                            <td class="text-center" style="font-size: 12px">
                                <button class="btn btn-outline-primary" onclick="window.location.href='#new_room'">Add</button>
                                <button class="btn btn-outline-warning" onclick="window.location.href='#hotel_edition'">Edit</button>
                                <button class="btn btn-outline-success" onclick="window.location.href='#hotel_room_detail'">View</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                You don't have your hotel recently.
            {% endif %}
        </div>
    </div>
    <style>
        button{
            font-size: 12px;
        }
    </style>
{% endblock %}