{% extends 'base.html' %}

{% block title %}Room Edition{% endblock %}

{% block left_side %}

{% endblock %}

{% block content %}
    <div class="col-sm-10">
        <h3>{{ hotel }} - {{ room.name }} Edition</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Name
            {{ room_form.name }}</p>
            <p>Price
            {{ room_form.price }}</p>
            <p>Single Bed
            {{ room_form.single_bed }}</p>
            <p>Double Bed
            {{ room_form.double_bed }}</p>
            <p>Size
            {{ room_form.size }}</p>
            <p>Washing fee
            {{ dormitory_setting_form.washing_fee }}</p>
            <p>Usage Fee
            {{ dormitory_setting_form.usage_fee }}</p>
            <p>Utility Bill
            {{ dormitory_setting_form.utility_bill }}</p>

            <div class="float-right">
                <button type="submit" class="btn btn-success">Update</button>
                <button type="reset" class="btn btn-light">Reset</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}