{% extends 'base.html' %}
{% load registration_filters %}

{% block title %}My Rooms{% endblock %}

{% block direction_content %}
    <a href="{% url 'my_hotels' %}">/My Hotels</a>
    <u>/{{ hotel.name }}</u>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Rooms in {{ hotel.name }}</h3>
        <p class="lead">Total: {{ rooms.count }}</p>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 15%">Name</th>
                            <th style="width: 15%" class="text-center">Price</th>
                            <th style="width: 15%" class="text-center">Washing</th>
                            <th style="width: 15%" class="text-center">Usage</th>
                            <th style="width: 15%" class="text-center">Utility Bill</th>
                            <th style="width: 25%" class="text-center">Features</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr class="border-top">
                            <td class="align-middle">{{ room.name }}</td>
                            <td class="text-center align-middle">{{ room.price }}</td>
                            <td class="text-center align-middle">{{ room.dormitory.washing_fee }}</td>
                            <td class="text-center align-middle">{{ room.dormitory.usage_fee }}</td>
                            <td class="text-center align-middle">{{ room.dormitory.utility_bill }}</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-outline-warning" onclick="window.location.href='{% url 'room_edition' hotel.slug room.pk %}'">Edit</button>
                                <button class="btn btn-outline-danger" onclick="deletion_check('{{ room.name }}');">Delete</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">You don't have your hotel recently.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function deletion_check(name) {
            var input = prompt("Please enter \"" + name + "\" to delete this room.");
            if (input === name) {
                document.location.href='{% url 'index' %}';
            } else {
                alert("Doesn\'t match.");
            }
        }
    </script>
{% endblock %}