{% extends 'base.html' %}
{% load registration_filters %}

{% block title %}Dashboard{% endblock %}

{% block direction_content %}
    <u>/Dashboard</u>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Dashboard</h3>
        <div class="container">
            <div class="row">
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>User</h4>
                        <p>users: {{ users.count }}</p>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-success" onclick="window.location.href='#add-user'">Add+</span>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-primary" onclick="window.location.href='{% url 'user_detail' %}'">Detail&raquo;</span>
                    </div>
                </card>
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>Service</h4>
                        <p>services: {{ services.count }}</p>
                        <p>branches: {{ branches.count }}</p>
                        <p>ranks: {{ ranks.count }}</p>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-primary" onclick="window.location.href='{% url 'service_detail' %}'">Detail&raquo;</span>
                    </div>
                </card>
            </div>
        </div>
    </div>
{% endblock %}