{% extends 'base.html' %}
{% load registration_filters %}

{% block title %}Dashboard{% endblock %}

{% block direction_content %}
    <u>/Dashboard</u>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Dashboard</h3>
        <div class="container">
            <div class="row">
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>User</h4>
                        <p>users: {{ users.count }}</p>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-success" onclick="window.location.href='#add-user'">Add+</span>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-primary" onclick="window.location.href='{% url 'user_detail' %}'">Detail&raquo;</span>
                    </div>
                </card>
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>Service</h4>
                        <p>services: {{ services.count }}</p>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-primary" onclick="window.location.href='{% url 'service_index' %}'">Detail&raquo;</span>
                    </div>
                </card>
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>Military Services</h4>
                        <ul>
                            {% for military_service in military_services %}
                            <li>{{ military_service }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="nav" id="dashboardTab" role="tablist">
                            <li class="nav-item">
                                <i class="nav-link btn badge-pill btn-outline-primary m-1" onclick="window.location.href='{% url 'military_service_index' %}'">Detail&raquo;</i>
                            </li>
                        </ul>
                    </div>
                </card>
                <card class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card-footer">
                        <h4>Proclamation</h4>
                        <p>counts: {{ proclamations.count }}</p>
                        <span style="cursor: pointer" class="btn badge-pill btn-outline-primary" onclick="window.location.href='{% url 'proclamation_index' %}'">Detail&raquo;</span>
                    </div>
                </card>
            </div>
        </div>
    </div>
{% endblock %}