{% extends 'base.html' %}

{% block title %}Detail｜MilitaryService{% endblock %}

{% block direction_content %}
    <a href="{% url 'dashboard' %}">/Dashboard</a>
    <u>/MilitaryService /Detail</u>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <td style="width: 20%">Name</td>
                                <td style="width: 30%">Slug</td>
                                <td style="width: 40%">Features</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for military_service in military_services %}
                            <tr class="text-center">
                                <td class="align-middle">{{ military_service.name }}</td>
                                <td class="align-middle">{{ military_service.slug }}</td>
                                <td class="align-middle">
                                    <i class="btn badge-pill btn-outline-primary m-1" data-toggle="modal" data-target="#add-{{ military_service }}-branch-form-modal">Branch+</i>
                                    <i class="btn badge-pill btn-outline-info m-1" data-toggle="modal" data-target="#add-{{ military_service }}-rank-form-modal">Rank+</i>
                                </td>
                            </tr>
                            <!-- military branch addition form -->
                            <div class="modal fade" id="add-{{ military_service }}-branch-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="{% url 'military_branch_addition' military_service.slug %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-header text-center" style="width: 100%">
                                                <h5 class="modal-title" id="ModalLongTitle">{{ military_service.slug|title }} Branch Addition Form</h5>
                                            </div>

                                            <div class="text-center" id="modal-menu" style="width: 100%">
                                                {{ military_branch_addition_form.as_p }}
                                            </div>

                                            <div class="modal-footer" style="width: 100%">
                                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- military rank addition form -->
                            <div class="modal fade" id="add-{{ military_service }}-rank-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="{% url 'rank_addition' military_service.slug %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-header text-center" style="width: 100%">
                                                <h5 class="modal-title" id="ModalLongTitle">{{ military_service.slug|title }} Rank Addition Form</h5>
                                            </div>

                                            <div class="text-center" id="modal-menu" style="width: 100%">
                                                    {{ military_rank_addition_form.as_p }}
                                            </div>

                                            <div class="modal-footer" style="width: 100%">
                                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <tr>
                                <td colspan="3">
                                    {% for military_branch in military_service.militarybranch_set.all %}
                                    <i class="btn badge badge-pill btn-outline-secondary" onclick="window.location.href='{% url 'military_branch_update' military_service.slug military_branch.pk %}'">{{ military_branch.name }}{{ military_branch.slug }}</i>
                                    {% empty %}
                                    <i>No branch recently.</i>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {% for rank in military_service.rank_set.all %}
                                    <i class="btn badge badge-pill btn-outline-danger" onclick="window.location.href='{% url 'rank_update' military_service.slug rank.pk %}'">{{ rank.equivalent_NATO_code }}{{ rank.name }}{{ rank.slug }}</i>
                                    {% empty %}
                                    <i>No rank recently.</i>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4">
                                    <i class="nav-link btn badge-pill btn-outline-success m-1" data-toggle="modal" data-target="#add-service-form-modal">Add+</i>
                                </td>
                                <!-- service addition form -->
                                <div class="modal fade" id="add-service-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <form action="{% url 'military_service_addition' %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-header text-center" style="width: 100%">
                                                    <h5 class="modal-title" id="ModalLongTitle">Service Addition Form</h5>
                                                </div>

                                                <div class="text-center" id="modal-menu" style="width: 100%">
                                                    {{ military_service_addition_form.as_p }}
                                                </div>

                                                <div class="modal-footer" style="width: 100%">
                                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}