<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<title>
    {% block title %}
    {% endblock %}｜CGA｜Booking
</title>

{% include 'header.html' %}

<script type="text/javascript">
    {% block js %}
    {% endblock %}
</script>

<body>
    {% include 'messages.html' %}

    {% block main%}
        <div class="container">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <a href="{% url 'index' %}">/Index</a>
                    {% block direction_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 mt-2">
                    <div class="container">
                        <div class="row">
                            {% block left_side %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mt-2 mb-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</body>

</html>