<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand text-dark" href="{% url 'index' %}">CGA｜Booking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Navbar-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center">
                    {% if user.is_authenticated %}
{#                        {% include 'privilege_navbar.html' %}#}
{##}
{#                        {% include 'notification_center.html' %}#}
{##}
{#                        {% include 'user_features_menu.html' %}#}
                        <li class="nav-item">
                            <a class="nav-link text-dark">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'logout' %}">登出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'login' %}">登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'register' %}">註冊</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>