{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block main %}
    <div class="container" id="start-logo">
        <div class="row" style="height: 30rem">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <span class="lead" style="font-size: 50px">CGA Booking</span><br>
                <span style="font-size: 10px">Design by DW, Su</span>
                <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'hotels' %}'">Start</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <img src="{% static 'image/businessman-planning-events-deadlines-agenda/6274.jpg' %}" width="100%">
            </div>
        </div>
    </div>

    <!-- News Block -->
    <div class="container mt-4">
        <div class="text-center">
            <h1>News</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <ul class="text-left" style="font-size: 0.8em">
                    {% for proclamation in proclamations %}
                        <li class="mt-2"><i>{{ proclamation.updated_time|date:"Y/m/d" }} </i><a href="{% url 'proclamation_detail' proclamation.pk %}">{{ proclamation.title }}</a>{% if proclamation.is_new %}<i class="badge badge-pill badge-danger">N</i>{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 bg-light">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/bed.png' %}" width="150px">
                <p class="h3 mt-4">
                    For official , family or guidance.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/files.png' %}" width="150px">
                <p class="h3 mt-4">
                   About yourself.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/suitcase.png' %}" width="150px">
                <p class="h3 mt-4">
                    Famous tourism.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4" id="about">
        <div class="text-center">
            <h1>About</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center" style="cursor: pointer" onclick="window.location.href='https://www.cga.gov.tw/GipOpen/wSite/mp?mp=9995'">
                <img src="{% static 'image/Republic_of_China_Coast_Guard_Logo.svg.png' %}" width="30%">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center" style="cursor: pointer" onclick="window.location.href='https://www.cga.gov.tw/GipOpen/wSite/mp?mp=9995'">
                <a class="h3">海洋委員會東部分署</a><br>
                <a class="h6">Eastern Branch, Coast Guard Administration, Ocean Affairs Council</a>
            </div>
        </div>
    </div>
    <style>
        #start-logo{
            height: 30rem;
        }
        #start-logo div{
            align-items:center;
        }
        #about div{
            align-items:center;
        }
    </style>
{% endblock %}