{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row" style="height: 30rem;">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <span class="lead" style="font-size: 50px">CGA Booking</span><br>
                <span style="font-size: 10px">Design by DW, Su</span>
                <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'hotels' %}'">Start</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <img src="{% static 'image/businessman-planning-events-deadlines-agenda/6274.jpg' %}" width="100%">
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 bg-light">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/bed.png' %}" width="150px">
                <p class="h3 mt-4">
                    For official business trips, family travel or duty guidance.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/files.png' %}" width="150px">
                <p class="h3 mt-4">
                   About yourself basic  and official work.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4 text-center">
                <img src="{% static 'image/suitcase.png' %}" width="175px">
                <p class="h3 mt-4">
                    Located at famous tourism.
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>About Us</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <img src="{% static 'image/Republic_of_China_Coast_Guard_Logo.svg.png' %}" width="50%">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center" style="cursor: pointer" onclick="window.location.href='https://www.cga.gov.tw/GipOpen/wSite/mp?mp=9995'">
                <a style="font-size: 2.5em">海洋委員會東部分署</a><br>
                <a style="font-size: 1em">Eastern Branch, Coast Guard Administration, Ocean Affairs Council</a>
            </div>
        </div>
    </div>
    <style>
        div{
            align-items:center;
        }
    </style>
{% endblock %}