{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row" style="height: 30rem;">
            <div class="col-sm-4 text-center">
                <span class="lead" style="font-size: 50px">CGA Booking</span><br>
                <span style="font-size: 10px">Design by DW, Su</span>
            </div>
            <div class="col-sm-8">
                <img src="{% static 'image/businessman-planning-events-deadlines-agenda/6274.jpg' %}" width="100%">
            </div>
        </div>
    </div>
    <style>
        div{
            align-items:center;
        }
    </style>
{% endblock %}