{% extends 'base.html' %}
{% load static %}
{% load proclamation_filters %}

{% block title %}Detail｜Proclamation{% endblock %}

{% block direction_content %}
    {% if request.user.is_superuser %}
        <a href="{% url 'dashboard' %}">/Dashboard</a>
        <a href="{% url 'proclamation_index' %}">/Proclamation</a>
        <u>/Detail</u>
    {% else %}
        <u>/News</u>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <p class="h1">{{ proclamation|title }}</p>

                <p class="text-muted">Announce Date：<i>{{ proclamation.created_time|date:'Y/m/d, H:i' }}</i></p>

                <p style="font-size: 1.4em; font-weight: lighter">{{ proclamation.content|linebreaksbr }}</p>
            </div>
            {% if proclamation.created_by == request.user or proclamation.updated_by == request.user %}
            <div>
                <ul class="list-inline text-muted">
                    <li>Announcer: {{ proclamation.created_by }}</li>
                    <li>Updated Time: {{ proclamation.updated_time|date:'Y/m/d, H:i' }}</li>
                    <li>Last Update: {{ proclamation.updated_by }}</li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}